{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "import/prefer-default-export": 0,
    "import/extensions": [
      1,
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "linebreak-style": [
      0,
      "error",
      "windows"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "react/jsx-props-no-spreading": 0,
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "camelcase": "off",
    "no-shadow": "off",
    "react/prop-types": "off",
    "no-underscore-dangle": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/extensions": [
      ".ts",
      ".tsx"
    ],
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}